// About Area
section.about-area.about4.section-padding-0-120.bg-gray
    .container
        .row.align-items-center.justify-content-between
            // About Us Content Area
            .col-12.col-lg-6
                .aboutUs-content.mt-120.pr-5
                    .section-heading.mb-5
                        h6 About Us
                        h2 Discover, Create & Publish
                        p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                    img.mt-5(src="img/core-img/signature.png" alt="")
                    
            // About Us Thumbnail Area
            .col-12.col-lg-6
                .aboutUs-thumbnail.mt-120
                    img.w-100(src='img/bg-img/hero-8.png' alt="")