// About Area
section.about-area.about2.section-padding-120
    .container
        // About Content Area
        .about-content
            .row.justify-content-between
                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-area.text-center.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
                        .icon.mx-auto
                            i.lni-sun
                        h4 Web Design
                        p It's crafted with the latest trend of design & coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-area.text-center.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
                        .icon.mx-auto
                            i.lni-heart
                        h4 Branding
                        p It's crafted with the latest trend of design & coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-area.text-center.wow.fadeInUp(data-wow-delay="500ms" data-wow-duration="1000ms")
                        .icon.mx-auto
                            i.lni-infinite
                        h4 Marketing
                        p It's crafted with the latest trend of design & coded with all modern approaches.

                // Single About Area
                .col-12.col-sm-6.col-lg-3
                    .single-about-area.text-center.wow.fadeInUp(data-wow-delay="700ms" data-wow-duration="1000ms")
                        .icon.mx-auto
                            i.lni-cart
                        h4 Ecommerce Solution
                        p It's crafted with the latest trend of design & coded with all modern approaches.
    
    .container
        .row.align-items-center.justify-content-md-center.justify-content-lg-between
            // About Thumbnail Area
            .col-12.col-md-8.col-lg-6.col-xl-5
                .aboutUs-thumbnail.mt-120.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
                    img.w-100(src='img/bg-img/5.jpg' alt="")

            // About Us Content Area
            .col-12.col-md-8.col-lg-6
                .aboutUs-content.mt-120.wow.fadeInUp(data-wow-delay="600ms" data-wow-duration="1000ms")
                    .section-heading.mb-5
                        h6 Key features
                        h2 We focus on the growth of your business.
                        p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                    a.btn.saasbox-btn.mt-5(href="#") Discover More