// About Area
section.about-area.section-padding-120
    .container
        .row.justify-content-between.align-items-center
            // About Content Area
            .col-12.col-lg-7.col-xl-6
                .about-content.mb-100.mb-lg-0
                    .row.justify-content-between
                        // Single About Area
                        .col-12.col-sm-6
                            .single-about-area.wow.fadeInUp(data-wow-duration="800ms" data-wow-delay="100ms")
                                .icon
                                    i.lni-sun
                                h4 Web Design
                                p It's crafted with the latest trend of design & coded with all modern approaches.
                                
                        // Single About Area
                        .col-12.col-sm-6
                            .single-about-area.wow.fadeInUp(data-wow-duration="800ms" data-wow-delay="300ms")
                                .icon
                                    i.lni-heart
                                h4 Branding
                                p It's crafted with the latest trend of design & coded with all modern approaches.
                                
                        // Single About Area
                        .col-12.col-sm-6
                            .single-about-area.wow.fadeInUp(data-wow-duration="800ms" data-wow-delay="500ms")
                                .icon
                                    i.lni-infinite
                                h4 Marketing
                                p It's crafted with the latest trend of design & coded with all modern approaches.
                                
                        // Single About Area
                        .col-12.col-sm-6
                            .single-about-area.wow.fadeInUp(data-wow-duration="800ms" data-wow-delay="700ms")
                                .icon
                                    i.lni-cart
                                h4 Ecommerce Solution
                                p It's crafted with the latest trend of design & coded with all modern approaches.
            
            // About Text Area
            .col-12.col-lg-5
                .section-heading.mb-0
                    h6.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms") Our key features
                    h2.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms") We focus on growth of your business.
                    p.mb-3.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms") It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    p.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms") It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    a.btn.saasbox-btn.mt-5.wow.fadeInUp(href="#" data-wow-delay="400ms" data-wow-duration="1000ms") Discover More