// Cool Facts Area
section.saasbox-cool-facts-area.section-padding-120-70
    // Circle Animation
    .circle-animation
        .circle1
        .circle2
        .circle3
        .circle4

    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .section-heading.text-center
                    h2 We already completed  
                        span  470  
                        |  projects successfully and more counting.
                    
    .container
        .row
            // Single Cool Facts Area
            .col-12.col-sm-4
                .single-cool-fact.mb-50.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="100ms")
                    h2
                        span.rs-counter 470 
                        | +
                    p Total Projects
                    
            // Single Cool Facts Area
            .col-12.col-sm-4
                .single-cool-fact.mb-50.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
                    h2
                        span.rs-counter 21
                    p Team Members
                    
            // Single Cool Facts Area
            .col-12.col-sm-4
                .single-cool-fact.mb-50.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="500ms")
                    h2
                        span.rs-counter 3618
                    p Coffee Served