// Cool Facts Area
section.cta-area.cta4.section-padding-120
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .cta-text
                    h2 Ready to start your project?
                    p.mb-4 Each purchase of Saasbox comes with six months free support — and a lifetime of free updates.
                    a.btn.saasbox-btn(href="#") Purchase Now