// Cool Facts Area
section.cta-area.cta2.section-padding-120
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-md-8.col-xxl-6
                .cta-text.mb-4.mb-md-0
                    h2.mb-0 Let's start with the simple way to create a website.
                    
            .col-12.col-md-4.text-md-right
                a.btn.saasbox-btn.white-btn(href="#") Buy Now