// Cool Facts Area
section.cta-area.cta3.py-5
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-sm-8
                .cta-text.mb-4.mb-sm-0
                    h3.text-white.mb-0 Let's start with the simple way to create a website.
                    
            .col-12.col-sm-4.text-sm-right
                a.btn.saasbox-btn.white-btn(href="#") Buy Now