// Cool Facts Area
section.cta-area.bg-img.bg-overlay.section-padding-120.jarallax(style="background-image: url('img/bg-img/1.jpg');")
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                .cta-text.text-center
                    h2 Let's start with the simplest way to create a stunning website.
                    a.btn.saasbox-btn.white-btn(href="#") Purchase Today