// Welcome Area
section#home.welcome-area.demo-hero
    // Background Shape
    .background-shape
        .circle1.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle2.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle3.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle4.wow.fadeInRightBig(data-wow-duration="4000ms")
        
    // Background Animation
    .background-animation
        .star-ani
        .cloud-ani
        .circle-ani
        .box-ani

    .container.h-100
        .row.h-100.align-items-center.justify-content-center
            // Welcome Content
            .col-12.col-md-8
                .welcome-content.text-center
                    h6.version-number.mb-3 Now v1.6
                    .animated--headline
                        h4.ah-headline.animated-heading
                            span Create 
                            span.ah-words-wrapper
                                b.is-visible Sass Landing
                                b Agency
                                b Business
                                b Corporate
                                b SEO
                                b Creative
                                
                    h2.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms") website with Saasbox.
                    p.mb-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    a.btn.saasbox-btn.white-btn.mt-3.wow.fadeInUp(href="https://themeforest.net/item/saasbox-multipurpose-html-template-for-saas/25607146" data-wow-duration="1000ms" data-wow-delay="400ms") Purchase Now