// FAQ Area
.faq--area.section-padding-120-70    
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-lg-6
                .faq-content.mb-50
                    h2 Questions &amp; Answers
                    
                    .accordion.faq--accordian#faqaccordian.mt-5
                        // Single FAQ
                        .card.border-0
                            .card-header#headingOne
                                button.btn(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne") How can I purchased Saasbox?
                            
                            .collapse.show#collapseOne(aria-labelledby="headingOne" data-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.
                        
                        // Single FAQ
                        .card.border-0
                            .card-header#headingTwo
                                button.btn.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") What are the minimum requirements?
                            
                            .collapse#collapseTwo(aria-labelledby="headingTwo" data-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.
                                
                        // Single FAQ
                        .card.border-0
                            .card-header#headingThree
                                button.btn.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree") What is the regular license?
                            
                            .collapse#collapseThree(aria-labelledby="headingThree" data-parent="#faqaccordian")
                                .card-body
                                    p Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt eiusmod.
                                    
            .col-12.col-lg-6
                .faq--thumbnail.mb-50
                    img(src="img/bg-img/hero-4.png" alt="")