// Feature Area
.feature-area.feature3.section-padding-120-70
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-md-6.col-lg-5
                // Feature Section Image
                .feature-side-img.mb-50
                    img(src="img/bg-img/hero-2.png", alt="")

            .col-12.col-md-6
                // Feature Content
                .feature--content.mb-50
                    h6 Creative, Awesome &amp; Smart
                    h2 Introducing Saasbox
                    p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    ul.pl-0
                        li Best for Creative Agency
                        li Built with Latest Technology
                        li Super Responsive
                        li Creative Design