.feature-area.feature4
    // Feature Side Thumb
    .feature-side-thumbnail
        img(src="img/bg-img/19.png", alt="")

    .feature-box-one.section-padding-120-40
        .container
            .row.align-items-center.justify-content-between
                .col-12.col-lg-6
                    .feature--thumb.mb-80
                        img(src="img/bg-img/hero-3.png" alt="")
                        
                .col-12.col-lg-6
                    .feature--text.mb-80
                        h2 The perfect solution for your saas software
                        p.mb-4 It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                        ul.pl-0
                            li.mb-3
                                i.mr-3.lni-check-mark-circle
                                | Bootstrap 5
                            li.mb-3
                                i.mr-3.lni-check-mark-circle
                                | Fully Responsive
                            li.mb-3
                                i.mr-3.lni-check-mark-circle
                                | Sass Support
                            li.mb-3
                                i.mr-3.lni-check-mark-circle
                                | Valid HTML5 &amp; CSS3

    .container
        .border-dashed

    .section-padding-120
        .container.feature-box-two.p-5
            .row.g-5
                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 01.
                        .feature-text
                            h5 Home Variations
                            p It's crafted with the latest trend of design & coded with all modern approaches.

                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 02.
                        .feature-text
                            h5 Fully Responsive
                            p It's crafted with the latest trend of design & coded with all modern approaches.

                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 03.
                        .feature-text
                            h5 Sass Support
                            p It's crafted with the latest trend of design & coded with all modern approaches.

                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 04.
                        .feature-text
                            h5 Valid HTML5 &amp; CSS3
                            p It's crafted with the latest trend of design & coded with all modern approaches.

                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 05.
                        .feature-text
                            h5 Pug Support
                            p It's crafted with the latest trend of design & coded with all modern approaches.

                .col-12.col-sm-6.col-lg-4
                    .feature-card-box.d-flex
                        .feature-icon
                            h4 06.
                        .feature-text
                            h5 Bootstrap 4
                            p It's crafted with the latest trend of design & coded with all modern approaches.