// Features Area
section.saasbox-features-area.feature2.section-padding-120-90
    // Background Shape
    .background-shape.wow.fadeInLeftBig(data-wow-duration="4000ms")

    .container
        .row.justify-content-center
            .col-12.col-md-9.col-lg-7.col-xxl-6
                .section-heading.text-center
                    i.lni-brush
                    h2
                        span Our best 
                        |  solutions
                    p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    
    .container
        .row.align-items-center.justify-content-center
            .col-12.col-lg-8.col-xxl-9
                .row.g-4
                    // Single Feature Area
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-wordpress
                                .fea-text
                                    h6 WordPress Solution
                                    span Ultimate Solution for WP

                    // Single Feature Area
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-brush
                                .fea-text
                                    h6 Frontend Solution
                                    span Solution for Webs

                    // Single Feature Area           
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-bar-chart
                                .fea-text
                                    h6 Digital Branding
                                    span Boot your sales

                    // Single Feature Area           
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="400ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-wechat
                                .fea-text
                                    h6 Live Chat Help
                                    span Support 24h a day

                    // Single Feature Area        
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="500ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-cog
                                .fea-text
                                    h6 Easy Setup
                                    span Solution for setup

                    // Single Feature Area  
                    .col-12.col-md-6
                        .card.feature-card.wow.fadeInUp(data-wow-delay="600ms" data-wow-duration="1000ms")
                            .card-body.d-flex.align-items-center
                                i.lni-bug
                                .fea-text
                                    h6 Fixed Bugs
                                    span Unlimited bug fix
                                    
            .col-12.col-sm-10.col-md-7.col-lg-4.col-xxl-3
                .card.video-card.video2.border-0.mt-5.mt-lg-0.wow.fadeInUp(data-wow-delay="700ms" data-wow-duration="1000ms")
                    .card-body.p-0
                        img(src="img/bg-img/6.jpg" alt="")
                        a.video-play-btn(href="https://www.youtube.com/watch?v=lFGvqvPh5jI")
                            i.lni-play
                            span.video-sonar