// Footer Area
footer.footer-area.py-5
    .container
        .row.align-items-center
            .col-12.col-md-6.col-lg-5
                // Copywrite Text
                .footer--content-text
                    p.mb-0
                        | All rights reserved by 
                        a(href="#" target="_blank") Designing World
            
            .col-12.col-md-6.col-lg-5
                // Footer Nav
                .footer-nav
                    ul.d-flex
                        li
                            a(href="#" target="_blank") Privacy Policy
                        li
                            a(href="#" target="_blank") Terms &amp; Conditions
                        li
                            a(href="#" target="_blank") Get Support
            
            .col-12.col-lg-2
                // Default dropup button
                .language-dropdown.text-center.text-lg-right.mt-4.mt-lg-0
                    .btn-group.dropup
                        button.btn.saasbox-btn-2.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Language
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-sa
                                | Arabic
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-bd
                                | Bengali
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-us
                                | English
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-my
                                | Malay
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-es
                                | Spanish

// All JavaScript Files
script(src="js/bootstrap.bundle.min.js")
script(src="js/jquery.min.js")
script(src="js/default/classy-nav.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/default/jquery.scrollup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/wow.min.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/default/cookiealert.js")
script(src="js/default/jquery.passwordstrength.js")
script(src="js/jquery.countdown.min.js")
script(src="js/default/active.js")