// Footer Area
footer.footer-area.section-padding-120
    .container
        .row.justify-content-between
            // Footer Widget Area
            .col-12.col-sm-10.col-lg-3
                .footer-widget-area.mb-70
                    a.d-block.mb-4(href="index.html")
                        img(src="img/core-img/logo.png" alt="")
                    p It's crafted with the latest trend of design & coded with all modern approaches.
                    
                    .newsletter-form
                        form(action="#")
                            input.form-control(type="email" placeholder="Enter email & press enter")
                            button.btn.d-none(type="submit") Go
                    
                    .footer-social-icon.d-flex.align-items-center
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Facbook")
                            i.fa.fa-facebook
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Twitter")
                            i.fa.fa-twitter
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Instagram")
                            i.fa.fa-instagram
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Linkedin")
                            i.fa.fa-linkedin
                        a(href="#" data-toggle="tooltip" data-placement="top" title="Youtube")
                            i.fa.fa-youtube
                            
            // Footer Widget Area
            .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
                .footer-widget-area.mb-70
                    h5.widget-title Important Links
                    ul
                        li
                            a(href="#" target="_blank") Terms &amp; Conditions
                        li
                            a(href="#" target="_blank") About Licences
                        li
                            a(href="#" target="_blank") Help &amp; Support
                        li
                            a(href="#" target="_blank") Careers
                        li
                            a(href="#" target="_blank") Privacy Policy
                        li
                            a(href="#" target="_blank") Community &amp; Forum
                            
            // Footer Widget Area
            .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
                .footer-widget-area.mb-70
                    h5.widget-title Our Products
                    ul
                        li
                            a(href="#" target="_blank") Apland Landing
                        li
                            a(href="#" target="_blank") Ecaps Admin
                        li
                            a(href="#" target="_blank") Bigshop Ecommerce
                        li
                            a(href="#" target="_blank") Classy Multipurpose
                        li
                            a(href="#" target="_blank") Educamp Education
                        li
                            a(href="#" target="_blank") Champ Portfolio
                            
            // Footer Widget Area
            .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
                .footer-widget-area.mb-70
                    h5.widget-title My Account
                    ul
                        li
                            a(href="#" target="_blank") Community &amp; Forum
                        li
                            a(href="#" target="_blank") About Licences
                        li
                            a(href="#" target="_blank") Careers
                        li
                            a(href="#" target="_blank") Terms &amp; Conditions
                        li
                            a(href="#" target="_blank") Privacy Policy
                        li
                            a(href="#" target="_blank") Help &amp; Support

    .container
        .row.align-items-center
            .col-12.col-md-6.col-lg-5
                // Copywrite Text
                .footer--content-text
                    p.mb-0
                        | All rights reserved by 
                        a(href="#" target="_blank") Designing World
            
            .col-12.col-md-6.col-lg-5
                // Footer Nav
                .footer-nav
                    ul.d-flex
                        li
                            a(href="#" target="_blank") Privacy Policy
                        li
                            a(href="#" target="_blank") Terms &amp; Conditions
                        li
                            a(href="#" target="_blank") Get Support
            
            .col-12.col-lg-2
                // Default dropup button
                .language-dropdown.text-center.text-lg-right.mt-4.mt-lg-0
                    .btn-group.dropup
                        button.btn.saasbox-btn-2.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Language
                        .dropdown-menu.dropdown-menu-right
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-sa
                                | Arabic
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-bd
                                | Bengali
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-us
                                | English
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-my
                                | Malay
                            a.dropdown-item(href="#")
                                span.mr-2.flag-icon.flag-icon-es
                                | Spanish
                        
// All JavaScript Files
script(src="js/bootstrap.bundle.min.js")
script(src="js/jquery.min.js")
script(src="js/default/classy-nav.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/default/jquery.scrollup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/imagesloaded.pkgd.min.js")
script(src="js/default/isotope.pkgd.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/jquery.animatedheadline.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/wow.min.js")
script(src="js/jarallax.min.js")
script(src="js/jarallax-video.min.js")
script(src="js/default/scrollindicator.js")
script(src="js/default/active.js")