// Header Area
header.header-area.header3
  .container
    .classy-nav-container.breakpoint-off
      nav#saasboxNav.classy-navbar.justify-content-between
        // Logo
        a.nav-brand.mr-5(href="index.html")
          img(src="img/core-img/logo-white.png" alt="")
        // Navbar Toggler
        .classy-navbar-toggler
          span.navbarToggler
            span
            span
            span
            span
        // Menu
        .classy-menu
          // close btn
          .classycloseIcon
            .cross-wrap
              span.top
              span.bottom
          // Nav Start
          .classynav
            ul#corenav
              li
                a(href="#home") Home
                ul.dropdown
                  li
                    a(href="creative-agency.html")
                      i.lni-diamond
                      span
                        | Creative Agency 
                        span for creative agency.
                  li
                    a(href="corporate-business.html")
                      i.lni-bolt
                      span
                        | Corporate &amp; Business 
                        span for corporate business.
                  li
                    a(href="seo-business.html")
                      i.lni-bulb
                      span
                        | SEO &amp; Business 
                        span for seo &amp; business.
                  li
                    a(href="sass-landing.html")
                      i.lni-cog
                      span
                        | Saas Landing 
                        span for software as a service.
              li
                a(href="#") Pages
                .megamenu
                  .single-mega.cn-col-4
                    .megamenu-thumb(style="background-image: url(img/bg-img/2.jpg);")

                  ul.single-mega.cn-col-4
                    li
                      a(href="about-standard.html") About Standard
                    li
                      a(href="about-creative.html") About Creative
                    li
                      a(href="features.html") Features
                    li
                      a(href="service-standard.html") Service Standard
                    li
                      a(href="service-creative.html") Service Creative
                    li
                      a(href="pricing-plan.html") Pricing Plan
                    li
                      a(href="faq.html") FAQ
                    li
                      a(href="team.html") Team

                  ul.single-mega.cn-col-4
                    li
                      a(href="contact.html") Contact
                    li
                      a(href="reviews.html") Reviews
                    li
                      a(href="register.html") Register
                    li
                      a(href="login.html") Login
                    li
                      a(href="coming-soon.html") Coming Soon
                    li
                      a(href="forget-password.html") Forget Password
                    li
                      a(href="newsletter.html") Newsletter
                    li
                      a(href="404.html") 404 - Error
              li
                a(href="#blog") Works
                ul.dropdown
                  li
                    a(href="portfolio-standard.html") Portfolio Standard
                  li
                    a(href="portfolio-creative.html") Portfolio Creative
                  li
                    a(href="portfolio-full-width.html") Portfolio Full Width
                  li
                    a(href="portfolio-details-one.html") Portfolio Details One
                  li
                    a(href="portfolio-details-two.html") Portfolio Details Two
                  li
                    a(href="portfolio-details-three.html") Portfolio Details Three
                  li
                    a(href="portfolio-details-four.html") Portfolio Details Four
              li
                a(href="#blog") Shop
                ul.dropdown
                  li
                    a(href="shop-fullwidth.html") Shop Fullwidth
                  li
                    a(href="shop-sidebar.html") Shop Sidebar
                  li
                    a(href="single-product.html") Product Details
                  li
                    a(href="cart.html") Cart
                  li
                    a(href="checkout.html") Checkout
              li
                a(href="#blog") Blog
                ul.dropdown
                  li
                    a(href="blog-card.html") Blog Card
                  li
                    a(href="blog-card-sidebar.html") Blog Card Sidebar
                  li
                    a(href="blog-full.html") Blog Full
                  li
                    a(href="blog-left-sidebar.html") Blog Left Sidebar
                  li
                    a(href="blog-right-sidebar.html") Blog Right Sidebar
                  li
                    a(href="blog-details-full.html") Blog Details One
                  li
                    a(href="blog-details-left-sidebar.html") Blog Details Two
                  li
                    a(href="blog-details-right-sidebar.html") Blog Details Three
              li
                a(href="contact.html") Contact

            // Login Button
            .login-btn-area.ml-4.mt-4.mt-lg-0
              a.btn.saasbox-btn.btn-sm(href="#") Buy Now