// Welcome Area
section#home.welcome-area.hero4
    // Hero Background Shape
    .hero4-bg-shape
        img(src="img/core-img/hero-4.png", alt="")
    
    // Hero Background Shape
    .hero4-bg-shape2
        img(src="img/core-img/hero-4-2.png", alt="")

    .container.h-100
        .row.h-100.align-items-center
            .col-12.col-md-6
                // Content
                .welcome-content.owl-carousel.hero-slides.pr-3
                    // Single Hero Slide
                    .single-hero-slide.mr-xxl-5
                        span.key-quote(data-animation="fadeInUp" data-delay="300ms") Try 15 days free trial
                        h2(data-animation="fadeInUp" data-delay="500ms") Powerful SEO &amp; business service
                        p.mb-4(data-animation="fadeInUp" data-delay="750ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.
                        a.btn.saasbox-btn.white-btn.mr-3.mt-3(href="#" data-animation="fadeInUp" data-delay="1000ms") See Features
                            
                    // Single Hero Slide
                    .single-hero-slide.mr-xxl-5
                        span.key-quote(data-animation="fadeInUp" data-delay="300ms") Another name for good service is Saasbox.
                        h2(data-animation="fadeInUp" data-delay="500ms") Discover more creative agency
                        p.mb-4(data-animation="fadeInUp" data-delay="1000ms") It's crafted with the latest trend of design &amp; coded with all modern approaches.
                        a.btn.saasbox-btn.white-btn.mr-3.mt-3(href="#" data-animation="fadeInUp" data-delay="1000ms") Discover More
                                            
            .col-12.col-md-6
                .card.hero-video-card
                    // Shape
                    .video-shape
                        img(src="img/core-img/hero-3-2.png", alt="")
                    .video-card-slides.owl-carousel
                        img(src="img/bg-img/9.jpg", alt="")
                        img(src="img/bg-img/10.jpg", alt="")
                        img(src="img/bg-img/11.jpg", alt="")

                    a.video-play-btn(href="https://www.youtube.com/watch?v=lFGvqvPh5jI")
                        i.lni-play
                        span.video-sonar