// Welcome Area
section#home.welcome-area.hero2
    // Background Shape
    .hero-background-shape
        img(src="img/core-img/hero-2.png" alt="")

    // Background Animation
    .background-animation
        .star-ani
        .circle-ani
        .box-ani

    // Hero Circle
    .hero2-big-circle

    .container.h-100
        .row.h-100.align-items-center.justify-content-between
            .col-12.col-md-6
                // Content
                .welcome-content.pr-3
                    h2.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms") Build powerful responsive fastest website using it.
                    p.mb-4.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    // Button Group
                    .btn-group-one.wow.fadeInUp(data-wow-delay="500ms" data-wow-duration="1000ms")
                        a.btn.saasbox-btn.white-btn.mt-3(href="#") More About Us
                        a.btn.saasbox-btn-2.mt-3.ml-3.ml-sm-4.video-play-btn(href="https://www.youtube.com/watch?v=lFGvqvPh5jI" data-effect="mfp-zoom-in")
                            i.mr-1.lni-play
                            | Play Video
                
            .col-10.col-md-6
                .welcome-thumb.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
                    img(src="img/bg-img/hero-6.png" alt="")