// Welcome Area
section#home.welcome-area.hero3
    // Background Shape
    .hero3-bg-shape
        img.w-100(src="img/core-img/hero-3.png", alt="")
        
    .container.h-100
        .row.h-100.align-items-center
            .col-12.col-md-6
                // Content
                .welcome-content.pr-3
                    h2
                        | Faster up your website with 
                        span SEO
                    .animated--headline
                        h4.ah-headline
                            span It's built with 
                            span.ah-words-wrapper
                                b.is-visible bootstrap 5
                                b node js
                                b gulp js
                                b sass
                                b pug
                                b jquery
                    p.mb-4 It's crafted with the latest trend of design &amp; coded with all modern approaches.      
                    .btn-group-two
                        a.btn.saasbox-btn.white-btn.mr-2.mr-sm-3.mt-3(href="#") View Page
                        a.btn.saasbox-btn.white-btn-2.mt-3(href="#") See Feature

    // Hero Side Image
    .hero-side-img
        img(src="img/bg-img/16.png" alt="")
        img.second-img(src="img/bg-img/18.png" alt="")