// Welcome Area
section#home.welcome-area
    // Background Shape
    .background-shape
        .circle1.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle2.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle3.wow.fadeInRightBig(data-wow-duration="4000ms")
        .circle4.wow.fadeInRightBig(data-wow-duration="4000ms")
        
    // Background Animation
    .background-animation
        .star-ani
        .cloud-ani
        .triangle-ani
        .circle-ani
        .box-ani

    .container.h-100
        .row.h-100.align-items-center.justify-content-between
            // Welcome Content
            .col-12.col-md-6.col-lg-5
                .welcome-content
                    h2.wow.fadeInUp(data-wow-duration="1000ms") Big Creative Agency.
                    p.mb-4.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="200ms") It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.
                    a.btn.saasbox-btn.white-btn.mt-3.wow.fadeInUp(href="#" data-wow-duration="1000ms" data-wow-delay="400ms") More About Us
            // Welcome Thumb
            .col-10.col-md-6
                .welcome-thumb.hero1.wow.fadeInUp(data-wow-delay="300ms")
                    img(src="img/bg-img/hero-3.png" alt="")