// News Area
section.saasbox-news-area.news2.section-padding-120
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-7.col-xxl-6
                .section-heading.text-center
                    h6 Latest info
                    h2 All Trending News
                    p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
    
    .container
        .row.justify-content-center.g-5
            // Blog Card
            .col-12.col-sm-8.col-md-6.col-lg-4
                .card.blog-card.border-0.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms")
                    a.d-block.mb-4(href="blog-card.html")
                        img(src="img/bg-img/blog4.jpg" alt="")
                    .post-content
                        a.d-block.mb-1(href="blog-card.html") News
                        a.post-title.d-block.mb-3(href="blog-card.html")
                            h4 Seven ways agency can improve your business.
                        .post-meta
                            span.text-muted
                                i.lni-timer.mr-2
                                | 2 min read
            // Blog Card    
            .col-12.col-sm-8.col-md-6.col-lg-4
                .card.blog-card.border-0.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
                    .image-wrap.mb-4
                            img(src="img/bg-img/blog5.jpg" alt="")
                            // Video
                            span.video-content
                                a.video-play-btn(href="https://www.youtube.com/watch?v=lFGvqvPh5jI")
                                    i.lni-play
                    .post-content
                        a.d-block.mb-1(href="blog-card.html") Agency
                        a.post-title.d-block.mb-3(href="blog-card.html")
                            h4 The reason why everyone love business.
                        .post-meta
                            span.text-muted
                                i.lni-timer.mr-2
                                | 4 min read
            // Blog Card
            .col-12.col-sm-8.col-md-6.col-lg-4
                .card.blog-card.border-0.wow.fadeInUp(data-wow-delay="800ms" data-wow-duration="1000ms")
                    a.d-block.mb-4(href="blog-card.html")
                        img(src="img/bg-img/blog6.jpg" alt="")
                    .post-content
                        a.d-block.mb-1(href="blog-card.html") Trend
                        a.post-title.d-block.mb-3(href="blog-card.html")
                            h4 Seven ways agency can improve your business.
                        .post-meta
                            span.text-muted
                                i.lni-timer.mr-2
                                | 3 min read