// Partner Area
.our-partner-area.section-padding-0-120.partner2
    .container
        .row
            .col-12
                .our-partner-slides.owl-carousel
                    .single-partner
                        img(src="img/partner-img/1.png" alt="")
                    .single-partner
                        img(src="img/partner-img/2.png" alt="")
                    .single-partner
                        img(src="img/partner-img/3.png" alt="")
                    .single-partner
                        img(src="img/partner-img/4.png" alt="")
                    .single-partner
                        img(src="img/partner-img/5.png" alt="")
                    .single-partner
                        img(src="img/partner-img/6.png" alt="")
                    .single-partner
                        img(src="img/partner-img/1.png" alt="")
                    .single-partner
                        img(src="img/partner-img/2.png" alt="")
                    .single-partner
                        img(src="img/partner-img/3.png" alt="")
                    .single-partner
                        img(src="img/partner-img/4.png" alt="")
                    .single-partner
                        img(src="img/partner-img/5.png" alt="")
                    .single-partner
                        img(src="img/partner-img/6.png" alt="")