// Portfolio Area
section.saasbox-portfolio-area.section-padding-120-40
    .container
        .row.align-items-end.justify-content-between
            .col-12.col-md-8.col-lg-7.col-xxl-6
                .section-heading.mb-0
                    h2 Check our latest awesome creative works
                    p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    
            .col-12.col-md-4.col-lg-5
                .portfolio-btn.pb-3.text-md-right.mt-5.mt-md-0
                    a.btn.saasbox-btn(href="portfolio-creative.html") View All Works
                    
    .container-fluid.px-0
        .portfolio-slides.owl-carousel
            // Single Portfolio Area
            .single-portfolio-area.mx-3.mt-70.mb-80
                img(src="img/bg-img/p1.jpg" alt="")
                // Ovarlay Content
                .overlay-content
                    .portfolio-title
                        a(href="portfolio-details-one.html") Portfolio Title
                    .portfolio-links
                        a.image-popup(href="img/bg-img/p1.jpg" data-effect="mfp-zoom-in" title="Portfolio Title")
                            i.lni-play
                        a(href="#")
                            i.lni-heart
                        a(href="portfolio-details-one.html")
                            i.lni-link
                            
            // Single Portfolio Area
            .single-portfolio-area.mx-3.mt-70.mb-80
                img(src="img/bg-img/p2.jpg" alt="")
                // Ovarlay Content
                .overlay-content
                    .portfolio-title
                        a(href="portfolio-details-one.html") Portfolio Title
                    .portfolio-links
                        a.image-popup(href="img/bg-img/p2.jpg" data-effect="mfp-zoom-in" title="Portfolio Title")
                            i.lni-play
                        a(href="#")
                            i.lni-heart
                        a(href="portfolio-details-one.html")
                            i.lni-link
                            
            // Single Portfolio Area
            .single-portfolio-area.mx-3.mt-70.mb-80
                img(src="img/bg-img/p3.jpg" alt="")
                // Ovarlay Content
                .overlay-content
                    .portfolio-title
                        a(href="portfolio-details-one.html") Portfolio Title
                    .portfolio-links
                        a.image-popup(href="img/bg-img/p3.jpg" data-effect="mfp-zoom-in" title="Portfolio Title")
                            i.lni-play
                        a(href="#")
                            i.lni-heart
                        a(href="portfolio-details-one.html")
                            i.lni-link
                            
            // Single Portfolio Area
            .single-portfolio-area.mx-3.mt-70.mb-80
                img(src="img/bg-img/p4.jpg" alt="")
                // Ovarlay Content
                .overlay-content
                    .portfolio-title
                        a(href="portfolio-details-one.html") Portfolio Title
                    .portfolio-links
                        a.image-popup(href="img/bg-img/p4.jpg" data-effect="mfp-zoom-in" title="Portfolio Title")
                            i.lni-play
                        a(href="#")
                            i.lni-heart
                        a(href="portfolio-details-one.html")
                            i.lni-link