// Pricing Plan Area
section.saasbox-pricing-plan-area.price2.section-padding-120.bg-gray
  .container
    .row.justify-content-center
      .col-12.col-md-9.col-lg-7.col-xxl-6
        .section-heading.text-center
          h6 Pricing Plan
          h2 Simple, Transparent Price
          p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
    
    .row
      .col-12
        .pricing-table-switch.mb-100
          ul#priceTab.nav.nav-tabs.border-bottom-0.justify-content-center(role="tablist")
            li.nav-item
              a#month--tab.nav-link.active(data-toggle="tab" href="#monthly" role="tab" aria-controls="monthly" aria-selected="true") Monthly
            li.nav-item
              a#yearly--tab.nav-link(data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false")
                span.popular-badge Save 20%
                | Yearly
              
      .col-12
        #priceTabContent.tab-content
          #monthly.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="month--tab")
            .row.g-0.justify-content-center
            
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-pizza

                    .price
                      h5 Basic
                      h2 $19
                      span per month

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li.times 1 Website License
                      li.times Free Support
                      li.times Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan
                    
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.active.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-offer

                    .price
                      h5 Standard
                      h2 $29
                      span per month

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li 1 Website License
                      li.times Free Support
                      li.times Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan
                    
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-burger

                    .price
                      h5 Business
                      h2 $49
                      span per month

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li 1 Website License
                      li Free Support
                      li Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan
        
          #profile.tab-pane.fade(role="tabpanel" aria-labelledby="yearly--tab")
            .row.g-0.justify-content-center
            
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-pizza

                    .price
                      h5 Basic
                      h2 $39
                      span per year

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li.times 1 Website License
                      li.times Free Support
                      li.times Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan
                    
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.active.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-offer

                    .price
                      h5 Standard
                      h2 $89
                      span per year

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li 1 Website License
                      li.times Free Support
                      li.times Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan
                    
              // Single Pricing Plan
              .col-12.col-sm-8.col-md-7.col-lg-4
                .card.pricing-card.mb-30
                  .pricing-heading.d-flex.align-items-center
                    .price-icon
                      i.lni-burger

                    .price
                      h5 Business
                      h2 $149
                      span per year

                  .pricing-desc
                    ul.pl-0
                      li 1 Month Usage
                      li Lifetime Updates
                      li 1 Website License
                      li Free Support
                      li Download New Release

                  .pricing-btn
                    a.btn.saasbox-btn(href="#") Choose Plan