// Pricing Plan Area
section.saasbox-pricing-plan-area.section-padding-120.bg-gray
  .container
    .row.justify-content-center
      .col-12.col-sm-9.col-lg-7.col-xxl-6
        .section-heading.text-center
          h6 Pricing Table
          h2 Easy &amp; Simple Plan
          p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
          
    .row.justify-content-center.gx-5
        // Single Pricing Plan
        .col-12.col-sm-9.col-md-6.col-lg-5.col-xl-4
          .card.pricing-card.mb-30
            .pricing-heading.d-flex.align-items-center
              .price-icon
                i.lni-pizza

              .price
                h5 Basic
                h2 $23
                span per month

            .pricing-desc
              ul.pl-0
                li 1 Month Usage
                li Lifetime Updates
                li.times 1 Website License
                li.times Free Support
                li.times Download New Release

            .pricing-btn
              a.btn.saasbox-btn(href="#") Choose Plan

        // Single Pricing Plan
        .col-12.col-sm-9.col-md-6.col-lg-5.col-xl-4
          .card.pricing-card.active.mb-30
            .pricing-heading.d-flex.align-items-center
              .price-icon
                i.lni-burger

              .price
                h5 Standard
                h2 $98
                span per month

            .pricing-desc
              ul.pl-0
                li 1 Month Usage
                li Lifetime Updates
                li 1 Website License
                li.times Free Support
                li.times Download New Release
                
            .pricing-btn
              a.btn.saasbox-btn(href="#") Choose Plan