// Service Area
section.service-area.section-padding-120#service
  .container
    .row.justify-content-center
      .col-12.col-md-9.col-lg-7.col-xxl-6
        .section-heading.text-center
          i.lni-flower
          h2
            | We do all 
            span creative  
            |  services
          p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

    .row.justify-content-center.g-5
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-android
            h4 Mobile Apps Developement
            p It's crafted with the latest trend of design.

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.active.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-layout
            h4 Modern Website Developement
            p It's crafted with the latest trend of design.

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-pie-chart
            h4 Digital Content &amp; SEO Marketing
            p It's crafted with the latest trend of design.

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="400ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-wordpress
            h4 WordPress 5.0 Ultimate Solution
            p It's crafted with the latest trend of design.

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="500ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-sun
            h4 Business Idea &amp; Creative Leads
            p It's crafted with the latest trend of design.

      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="600ms" data-wow-duration="1000ms")
          .card-body
            .icon
              i.lni-play
            h4 Tutorial: Learning for future
            p It's crafted with the latest trend of design.