// Service Area
section.service-area.service3.section-padding-120.bg-gray#service
  .container            
    .row.g-5.justify-content-center
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="200ms" data-wow-duration="1000ms")
          .card-body
            .icon
                i.lni-android
            h4 Mobile Apps Developement
            p It's crafted with the latest trend of design.
          
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.active.wow.fadeInUp(data-wow-delay="300ms" data-wow-duration="1000ms")
          .card-body
            .icon
                i.lni-pie-chart
            h4 Digital Content &amp; SEO Marketing
            p It's crafted with the latest trend of design.
          
      // Single Service Area
      .col-12.col-sm-8.col-md-6.col-lg-5.col-xl-4
        .card.service-card.wow.fadeInUp(data-wow-delay="800ms" data-wow-duration="1000ms")
          .card-body
            .icon
                i.lni-wordpress
            h4 WordPress 5.0 Ultimate Solution
            p It's crafted with the latest trend of design.