.shop-sidebar-area.section-padding-0-120
    // Single Widget
    .shop-widget.mb-5
        h4.widget-title.mb-4 Product Categories

        // Description
        .widget-desc
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck1(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck1") Men
                    span.ml-2 (32)

            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck2(type="checkbox", value="")
                label.form-check-label(for="customCheck2") Women
                    span.ml-2 (46)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck3(type="checkbox", value="")
                label.form-check-label(for="customCheck3") Kids
                    span.ml-2 (13)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck4(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck4") Fashion
                    span.ml-2 (68)
                    
            // Single Checkbox
            .form-check
                input.form-check-input#customCheck5(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck5") Special
                    span.ml-2 (32)

    // Single Widget
    .shop-widget.mb-5
        h4.widget-title.mb-4 Filter by Color

        // Description
        .widget-desc
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck6(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck6") Black
                    span.ml-2 (32)

            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck7(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck7") Pink
                    span.ml-2 (46)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck8(type="checkbox", value="")
                label.form-check-label(for="customCheck8") Red
                    span.ml-2 (13)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck9(type="checkbox", value="")
                label.form-check-label(for="customCheck9") Purple
                    span.ml-2 (68)
                    
            // Single Checkbox
            .form-check
                input.form-check-input#customCheck10(type="checkbox", value="")
                label.form-check-label(for="customCheck10") Orange
                    span.ml-2 (32)


    // Single Widget
    .shop-widget.mb-5
        h4.widget-title.mb-4 Filter by Brands

        // Description
        .widget-desc
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck11(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck11") Demin
                    span.ml-2 (32)

            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck12(type="checkbox", value="")
                label.form-check-label(for="customCheck12") Zara
                    span.ml-2 (46)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck13(type="checkbox", value="")
                label.form-check-label(for="customCheck13") Boss
                    span.ml-2 (13)
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck14(type="checkbox", value="")
                label.form-check-label(for="customCheck14") Coco
                    span.ml-2 (68)
                    
            // Single Checkbox
            .form-check
                input.form-check-input#customCheck15(type="checkbox", value="")
                label.form-check-label(for="customCheck15") Orfen
                    span.ml-2 (32)


    // Single Widget
    .shop-widget.mb-5
        h4.widget-title.mb-4 Filter by Tags

        // Description
        .widget-desc
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck16(type="checkbox", value="")
                label.form-check-label(for="customCheck16") Shop

            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck17(type="checkbox", value="")
                label.form-check-label(for="customCheck17") Electronics
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck18(type="checkbox", value="")
                label.form-check-label(for="customCheck18") Speaker
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck19(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck19") Bonshai
                    
            // Single Checkbox
            .form-check
                input.form-check-input#customCheck20(type="checkbox", value="")
                label.form-check-label(for="customCheck20") Cosmetric


    // Single Widget
    .shop-widget
        h4.widget-title.mb-4 Filter by Ratings

        // Description
        .widget-desc
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck21(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck21") 5 Star

            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck22(type="checkbox", value="", checked)
                label.form-check-label(for="customCheck22") 4 Star
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck23(type="checkbox", value="")
                label.form-check-label(for="customCheck23") 3 Star
                    
            // Single Checkbox
            .form-check.mb-2
                input.form-check-input#customCheck24(type="checkbox", value="")
                label.form-check-label(for="customCheck24") 2 Star
                    
            // Single Checkbox
            .form-check
                input.form-check-input#customCheck25(type="checkbox", value="")
                label.form-check-label(for="customCheck25") 1 Star