.blog-sidebar-area
    // Single Widget Area
    .single-widget-area.mb-5
        // Search Form
        form.widget-form(action="#" method="post")
            input.form-control(type="search" placeholder="Type your keyword")
            button(type="submit")
                i.fa.fa-search
                
    // Single Widget Area
    .single-widget-area.mb-5
        h4.widget-title.mb-30 Categories
        ul.catagories-list.pl-0
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | Corporate
                    span.text-muted.ml-2 (9)
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | Agency
                    span.text-muted.ml-2 (16)
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | Business
                    span.text-muted.ml-2 (21)
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | E-commerce
                    span.text-muted.ml-2 (8)
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | Blog
                    span.text-muted.ml-2 (13)
            li
                a(href="#")
                    i.fa.fa-angle-double-right(aria-hidden="true")
                    | Creative Ideas
                    span.text-muted.ml-2 (6)
                
    // Single Widget Area
    .single-widget-area.mb-5
        h4.widget-title.mb-30 Recent Posts
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb1.jpg" alt="")
            .post-content
                a.post-title(href="#") Seven ways agency can improve your business.
                p.post-date Sep 30, 2020
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb2.jpg" alt="")
            .post-content
                a.post-title(href="#") The reason why everyone love business.
                p.post-date Sep 30, 2020
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb3.jpg" alt="")
            .post-content
                a.post-title(href="#") How to get people to like trend.
                p.post-date Sep 30, 2020
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb4.jpg" alt="")
            .post-content
                a.post-title(href="#") Seven ways agency can improve your business.
                p.post-date Sep 30, 2020
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb5.jpg" alt="")
            .post-content
                a.post-title(href="#") The reason why everyone love business.
                p.post-date Sep 30, 2020
        
        // Single Recent Post
        .single-recent-post.d-flex.align-items-center
            .post-thumb
                a(href="#")
                    img(src="img/bg-img/sb6.jpg" alt="")
            .post-content
                a.post-title(href="#") How to get people to like trend.
                p.post-date Sep 30, 2020
                
    // Single Widget Area
    .single-widget-area
        h4.widget-title.mb-30 Popular Tags        
        ul.popular-tags.clearfix.pl-0
            li
                a(href="#") saasbox
            li
                a(href="#") npm
            li
                a(href="#") sass
            li
                a(href="#") pug
            li
                a(href="#") gulp
            li
                a(href="#") css
            li
                a(href="#") bootstrap 5
            li
                a(href="#") html5
            li
                a(href="#") jquery
            li
                a(href="#") design
            li
                a(href="#") agency
            li
                a(href="#") business
            li
                a(href="#") portfolio
            li
                a(href="#") startup
            li
                a(href="#") creative