// Team Area
section.saasbox-team-area.section-padding-120
    .container
        .row.align-items-center.justify-content-between
            .col-12.col-md-9.col-lg-5
                .section-heading.white.mb-5.mb-lg-0.mr-5
                    h6 Our Sailors
                    h2 Creative Heads
                    p It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.
                    a.btn.saasbox-btn.white-btn-2.mt-5(href="team.html") All Team Members
            
            .col-12.col-lg-7
                .team-members-area.mt-5.mt-lg-0
                    .row.justify-content-center.g-5
                        .col-12.col-sm-6.col-md-5.col-lg-6
                            .single-team.wow.fadeInUp(data-wow-delay="100ms" data-wow-duration="1000ms")
                                img(src="img/bg-img/t1.jpg" alt="")
                                .hover-overlay
                                    p Jannatun,
                                        span.ml-1 Designer
                                    
                        .col-12.col-sm-6.col-md-5.col-lg-6
                            .single-team.wow.fadeInUp(data-wow-delay="400ms" data-wow-duration="1000ms")
                                img(src="img/bg-img/t4.jpg" alt="")
                                .hover-overlay
                                    p Naznin,
                                        span.ml-1 Manager