// Client Feedback Area
section.client-feedback-area.d-md-flex.align-items-center.justify-content-between.section-padding-120.bg-img.bg-overlay.jarallax(style="background-image: url('img/bg-img/7.jpg');")
    // Client Feedback Heading
    .client-feedback-heading
        .section-heading.mb-0.text-right.white
            h6 Testimonials
            h2.mb-0 Our Customers Feedback
      
    // Client Feedback Content
    .client-feedback-content
        .client-feedback-slides.owl-carousel

            // Single Feedback Slide
            .card.feedback-card.bg-white
                .card-body
                    i.lni-quotation
                    p You've saved our business! Thanks guys, keep up the good work! The best on the net!
                    .client-info.d-flex.align-items-center
                        .client-thumb
                            img(src="img/bg-img/t1.png" alt="")
                        .client-name
                            h6 Lim Jannat
                            p UX/UI Designer

            // Single Feedback Slide
            .card.feedback-card.bg-white
                .card-body
                    i.lni-quotation
                    p I STRONGLY recommend agency to EVERYONE interested in running a successful business!
                    .client-info.d-flex.align-items-center
                        .client-thumb
                            img(src="img/bg-img/t2.png" alt="")
                        .client-name
                            h6 Pryce R.
                            p CEO

            // Single Feedback Slide
            .card.feedback-card.bg-white
                .card-body
                    i.lni-quotation
                    p Absolutely wonderful! I wish I would have thought of it first. I would be lost without agency.
                    .client-info.d-flex.align-items-center
                        .client-thumb
                            img(src="img/bg-img/t3.png" alt="")
                        .client-name
                            h6 Cy N.
                            p Developer

            // Single Feedback Slide
            .card.feedback-card.bg-white
                .card-body
                    i.lni-quotation
                    p I STRONGLY recommend agency to EVERYONE interested in running a successful business!
                    .client-info.d-flex.align-items-center
                        .client-thumb
                            img(src="img/bg-img/t4.png" alt="")
                        .client-name
                            h6 Juergen T.
                            p Business Owner