.video--area.section-padding-120.bg-img.bg-overlay.jarallax(style="background-image: url('img/bg-img/15.jpg');")
    .container
        .row
            .col-12
                .video-content.d-sm-flex.align-items-center.justify-content-center.section-padding-120
                    .card.video-card.border-0
                        .card-body.p-0
                            a.video-play-btn(href="https://www.youtube.com/watch?v=lFGvqvPh5jI")
                                i.lni-play
                                span.video-sonar
                    h2.mb-0.ml-0.ml-sm-5.text-white View our presentation