doctype html
html(lang="en")
    head  
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        // Breadcrumb Area
        .breadcrumb--area.bg-img.bg-overlay.jarallax(style="background-image: url('img/bg-img/12.jpg');")
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title About Creative
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page")
                                        a(href="#") About
        include inc/about.pug

        include inc/cool-facts.pug

        include inc/feature.pug

        include inc/service-3.pug

        include inc/testimonial.pug
        
        include inc/partner-2.pug

        include inc/footer-2.pug