doctype html
html(lang="en")
    head  
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-2.pug

        // Breadcrumb Area
        .breadcrumb--area.white-bg-breadcrumb
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title About Standard
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page")
                                        a(href="#") About
        include inc/about-3.pug

        include inc/feature-2.pug

        include inc/testimonial.pug
        
        include inc/partner.pug

        .container
            .border-bottom

        include inc/footer.pug