doctype html
html(lang="en")
  head  
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header-2.pug

    include inc/hero-2.pug

    .container
      .border-dashed

    include inc/about-2.pug

    include inc/feature-2.pug

    include inc/service.pug

    include inc/pricing-2.pug

    include inc/portfolio-2.pug

    include inc/testimonial-2.pug

    include inc/news-2.pug

    include inc/partner-2.pug

    include inc/cookie.pug

    include inc/footer-2.pug