doctype html
html(lang="en")
  head
    include inc/head.pug
    
  body
    include inc/loader.pug
    
    include inc/header.pug
    
    include inc/hero.pug

    include inc/about.pug

    .container
      .border-top
    
    include inc/cool-facts.pug

    .container
      .border-top
    
    include inc/service.pug
    
    include inc/feature.pug
    
    include inc/tab.pug
    
    include inc/pricing.pug
    
    include inc/portfolio.pug
    
    include inc/team.pug
    
    include inc/testimonial.pug
    
    include inc/partner.pug

    .container
      .border-top
    
    include inc/news.pug
    
    include inc/cta.pug
    
    include inc/cookie.pug
    
    include inc/footer.pug