doctype html
html(lang="en")
    head  
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header-2.pug

        // Breadcrumb Area
        .breadcrumb--area.white-bg-breadcrumb
            .container.h-100
                .row.h-100.align-items-center
                    .col-12
                        .breadcrumb-content
                            h2.breadcrumb-title Feature
                            nav(aria-label="breadcrumb")
                                ol.breadcrumb.justify-content-center
                                    li.breadcrumb-item
                                        a(href="index.html") Home
                                    li.breadcrumb-item.active(aria-current="page")
                                        a(href="#") Feature
        include inc/about-3.pug

        .container
            .border-top

        include inc/feature-3.pug

        include inc/pricing-3.pug
        
        include inc/faq.pug

        include inc/cta-3.pug

        include inc/footer-2.pug