doctype html
html(lang="en")
    head  
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        include inc/demo-hero.pug

        // Portfolio Area
        section.demo-show.section-padding-120.clearfix
            .container
                .row.justify-content-center
                    .col-12.col-lg-8.col-xxl-7
                        .section-heading.text-center
                            h2 Beautifully designed, hand-crafted coded,  
                                span.mx-2 4  
                                | pre-built home page perfect for your website.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .container
                .row.g-5.demo-preview-area.justify-content-center
                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="creative-agency.html" target="_blank")
                                img(src="img/demo-img/ca.png" alt="")
                            h5.mb-0.mt-4 Creative Agency

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="corporate-business.html" target="_blank")
                                img(src="img/demo-img/cb.png" alt="")
                            h5.mb-0.mt-4 Corporate Business

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="seo-business.html" target="_blank")
                                img(src="img/demo-img/sb.png" alt="")
                            h5.mb-0.mt-4 SEO Business

                    .col-12.col-md-6
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="sass-landing.html" target="_blank")
                                img(src="img/demo-img/sl.png" alt="")
                            h5.mb-0.mt-4 Sass Landing

        // Used Technology Area
        .used-technology-area.section-padding-120.bg-gray
            .container
                .row.justify-content-center
                    .col-12.col-lg-7.col-xxl-6
                        .section-heading.text-center
                            h2 
                                span.mr-2 Built 
                                | with all <br> modern technologies.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

                .row.g-0
                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/bootstrap.png" alt="")
                            h5.mb-0 Bootstrap 5

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/npm.png" alt="")
                            h5.mb-0 npm

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/gulp.png" alt="")
                            h5.mb-0 Gulp 4

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/pug.png" alt="")
                            h5.mb-0 pug

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/sass.png" alt="")
                            h5.mb-0 Sass

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/jquery.png" alt="")
                            h5.mb-0 jQuery

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/css3.png" alt="")
                            h5.mb-0 CSS3

                    .col-6.col-lg-3
                        .demo-single-feature.border.py-4.px-3.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            img.mb-3(src="img/demo-img/tpl/html5.png" alt="")
                            h5.mb-0 HTML5

        .inner-page-wrapper.section-padding-120
            .container
                .row.justify-content-center
                    .col-12.col-lg-8
                        .section-heading.text-center
                            h2 Awesome
                                span.mx-2 36+
                                | inner pages for your all needs, with shop, portfolio &amp; blog pages.
                            p It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.

            .container
                .row.g-5.demo-preview-area.justify-content-center
                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-standard.html" target="_blank")
                                img(src="img/demo-img/p-standard.png" alt="")
                            h5.mb-0.mt-4 Portfolio Standard

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-creative.html" target="_blank")
                                img(src="img/demo-img/p-creative.png" alt="")
                            h5.mb-0.mt-4 Portfolio Creative

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-full-width.html" target="_blank")
                                img(src="img/demo-img/p-full.png" alt="")
                            h5.mb-0.mt-4 Portfolio Fullwidth

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-one.html" target="_blank")
                                img(src="img/demo-img/pd-1.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 1

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-two.html" target="_blank")
                                img(src="img/demo-img/pd-2.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 2

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-three.html" target="_blank")
                                img(src="img/demo-img/pd-3.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 3

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="portfolio-details-four.html" target="_blank")
                                img(src="img/demo-img/pd-4.png" alt="")
                            h5.mb-0.mt-4 Portfolio Details 4
                            
                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="shop-fullwidth.html" target="_blank")
                                img(src="img/demo-img/shop-fullwidth.png" alt="")
                            h5.mb-0.mt-4 Shop Fullwidth

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="shop-sidebar.html" target="_blank")
                                img(src="img/demo-img/shop-sidebar.png" alt="")
                            h5.mb-0.mt-4 Shop Sidebar

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="single-product.html" target="_blank")
                                img(src="img/demo-img/product-details.png" alt="")
                            h5.mb-0.mt-4 Product Details

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="cart.html" target="_blank")
                                img(src="img/demo-img/cart.png" alt="")
                            h5.mb-0.mt-4 Cart

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="checkout.html" target="_blank")
                                img(src="img/demo-img/checkout.png" alt="")
                            h5.mb-0.mt-4 Checkout

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-card.html" target="_blank")
                                img(src="img/demo-img/blog-card.png" alt="")
                            h5.mb-0.mt-4 Blog Card

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-card-sidebar.html" target="_blank")
                                img(src="img/demo-img/blog-card-sidebar.png" alt="")
                            h5.mb-0.mt-4 Blog Card Sidebar

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-full.html" target="_blank")
                                img(src="img/demo-img/blog-full.png" alt="")
                            h5.mb-0.mt-4 Blog Full

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-left-sidebar.html" target="_blank")
                                img(src="img/demo-img/blog-left.png" alt="")
                            h5.mb-0.mt-4 Blog Left Sidebar

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-right-sidebar.html" target="_blank")
                                img(src="img/demo-img/blog-right.png" alt="")
                            h5.mb-0.mt-4 Blog Right Sidebar

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-full.html" target="_blank")
                                img(src="img/demo-img/bd-1.png" alt="")
                            h5.mb-0.mt-4 Blog Details 1

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-left-sidebar.html" target="_blank")
                                img(src="img/demo-img/bd-2.png" alt="")
                            h5.mb-0.mt-4 Blog Details 2

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="blog-details-right-sidebar.html" target="_blank")
                                img(src="img/demo-img/bd-3.png" alt="")
                            h5.mb-0.mt-4 Blog Details 3

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="about-standard.html" target="_blank")
                                img(src="img/demo-img/about-standard.png" alt="")
                            h5.mb-0.mt-4 About Standard

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="about-creative.html" target="_blank")
                                img(src="img/demo-img/about-creative.png" alt="")
                            h5.mb-0.mt-4 About Creative

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="features.html" target="_blank")
                                img(src="img/demo-img/feature.png" alt="")
                            h5.mb-0.mt-4 Features

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="service-standard.html" target="_blank")
                                img(src="img/demo-img/service-standard.png" alt="")
                            h5.mb-0.mt-4 Service Standard

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="service-creative.html" target="_blank")
                                img(src="img/demo-img/service-creative.png" alt="")
                            h5.mb-0.mt-4 Service Creative

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="pricing-plan.html" target="_blank")
                                img(src="img/demo-img/price.png" alt="")
                            h5.mb-0.mt-4 Pricing Plan

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="faq.html" target="_blank")
                                img(src="img/demo-img/faq.png" alt="")
                            h5.mb-0.mt-4 FAQ

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="team.html" target="_blank")
                                img(src="img/demo-img/team.png" alt="")
                            h5.mb-0.mt-4 Team

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="contact.html" target="_blank")
                                img(src="img/demo-img/contact.png" alt="")
                            h5.mb-0.mt-4 Contact

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="reviews.html" target="_blank")
                                img(src="img/demo-img/review.png" alt="")
                            h5.mb-0.mt-4 Reviews

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="register.html" target="_blank")
                                img(src="img/demo-img/register.png" alt="")
                            h5.mb-0.mt-4 Register

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="login.html" target="_blank")
                                img(src="img/demo-img/login.png" alt="")
                            h5.mb-0.mt-4 Login

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="newsletter.html" target="_blank")
                                img(src="img/demo-img/newsletter.png" alt="")
                            h5.mb-0.mt-4 Newsletter

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="forget-password.html" target="_blank")
                                img(src="img/demo-img/password.png" alt="")
                            h5.mb-0.mt-4 Forget Password

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="coming-soon.html" target="_blank")
                                img(src="img/demo-img/coming-soon.png" alt="")
                            h5.mb-0.mt-4 Coming Soon

                    .col-12.col-sm-6.col-lg-4
                        .single-preview-area.text-center.wow.fadeInUp(data-wow-delay="200ms")
                            a(href="404.html" target="_blank")
                                img(src="img/demo-img/404.png" alt="")
                            h5.mb-0.mt-4 404 - Error

        .more-feature-area.section-padding-120-90.bg-gray
            .container
                .row                       
                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary Bootstrap 5

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary Node Package Manager

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary Gulp 4

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary Pug (Jade)

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary Sass

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary CSS Autoprefixer

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary jQuery

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary CSS3

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-primary
                            h6.mb-0.d-inline-block.text-primary HTML5

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block 4+ Home Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Ecommerce Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Blog Layouts

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Portfolio Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block 16+ Inner Pages

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block 100% Responsive

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Working Contact Form

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Animated Headline

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Call to Action

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block CSS3 Animations

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Cookie Alert

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Counter Up

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Different Menu Style

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Different Footers Style

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Documentation Guideline

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Easy To Customize

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block FAQ (Accordian)

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Font Awesome Icon

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Line Icons

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Functional Forms

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Google Fonts

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Google Maps

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Icon Boxes

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Isotope Filtering

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Login &amp; Register

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Mega Menu

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Media Gallery

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Magnific Popup

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Newsletter

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Parallax Effects

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Premium Plugins

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Popup Video

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Password Strength Meter

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Pricing Table

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Retina Ready

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block SEO Optimized

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Owl Carousel

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Team Member

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Testimonials

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Tabs

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block WOW Animation

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Lot of Widgets

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Flag Icons

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Partner Slides

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Awesome Mobile Menu

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Forget Password

                    .col-12.col-sm-6.col-lg-4.col-xl-3
                        .single-more-feature.mb-30
                            i.lni-check-mark-circle.text-dark
                            h6.mb-0.d-inline-block Coming Soon Countdown

        include inc/cookie.pug

        include inc/footer-2.pug