doctype html
html(lang="en")
  head  
    include inc/head.pug

  body
    include inc/loader.pug

    include inc/header.pug

    include inc/hero-3.pug
    
    include inc/partner-2.pug

    include inc/about-4.pug

    include inc/cool-facts.pug

    .container
      .border-dashed

    include inc/feature-4.pug

    include inc/video.pug

    include inc/service-2.pug

    include inc/faq.pug

    include inc/pricing-3.pug

    include inc/news-2.pug

    include inc/partner-3.pug

    include inc/cookie.pug

    include inc/footer-2.pug