doctype html
html(lang="en")
  head  
    include inc/head.pug
    
  body
    include inc/loader.pug
    
    include inc/header-2.pug
    
    include inc/hero-4.pug

    include inc/service-3.pug
    
    include inc/tab.pug

    .container
      .border-top
    
    include inc/feature-3.pug
    
    include inc/pricing-2.pug

    include inc/testimonial.pug

    include inc/partner.pug

    .container
      .border-dashed

    include inc/news.pug
    
    include inc/cta-3.pug

    include inc/cookie.pug
    
    include inc/footer-2.pug