/* Contact CSS */
.form-control {
    transition-duration: 500ms;
    border-color: $border;
    height: 52px;
    padding: 15px 20px;
    font-size: 14px;

    &:focus {
        box-shadow: none;
    }
}

.contact-form {
    .form-control {
        border-color: #e3e3e3;
        background-color: $bg-gray;

        &:focus {
            border-color: $primary;
        }
    }

    textarea.form-control {
        height: 150px;
    }

    #success_fail_info {
        display: block;
    }
}

.contact-mini-card {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .contact-mini-card-icon {
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            z-index: -10;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            content: "";
            background-color: $text;
        }

        &::before {
            position: absolute;
            z-index: -10;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            bottom: -2px;
            left: 0;
            content: "";
            background-color: $heading;
        }

        i {
            position: relative;
            display: block;
            z-index: 1;
            flex: 0 0 50px;
            max-width: 50px;
            width: 50px;
            height: 50px;
            background-color: $heading;
            text-align: center;
            color: $white;
            border-radius: 50%;
            font-size: 1.5rem;
            line-height: 50px;
        }
    }

    p {
        margin-bottom: 0;
        margin-left: 1rem;
        line-height: 1.25rem;
    }

    &:nth-child(2) {
        .contact-mini-card-icon {

            &::before {
                background-color: $primary;
            }

            i {
                background-color: $primary;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;

        .contact-mini-card-icon {
            &::before {
                background-color: $yellow;
            }

            i {
                background-color: $yellow;
                color: $heading;
            }
        }
    }
}

.google-maps-wrapper {
    position: relative;
    z-index: 1;

    iframe {
        width: 100%;
        height: 600px;
        border: none;

        @media #{$breakpoint-lg} {
            height: 550px;
        }

        @media #{$breakpoint-md} {
            height: 500px;
        }

        @media #{$breakpoint-xs} {
            height: 350px;
        }

        @media #{$breakpoint-xs-landscape} {
            height: 400px;
        }

        @media #{$breakpoint-sm} {
            height: 450px;
        }
    }
}

textarea.form-control {
    height: auto;
}